.modal-background {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  margin: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px 0px;
  border: 1px solid rgb(130, 209, 233);
  border-radius: 8px;
  width: 45%; /* Could be more or less, depending on screen size */
}

.modal .modal-header {
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: center;
}

.modal .line {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid rgb(130, 209, 233);
  line-height: 0.1em;
  margin: 0px 0px 30px;
  font-size: 1rem !important;
}

.modal textarea {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 45px);
  height: 150px;
  font-size: 1.25rem;
  border-radius: 4px;
  border-color: rgb(130, 209, 233);
  outline: none;
}

.modal-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.modal-footer .main {
  display: flex;
  flex-direction: row-reverse;
}

.additional {
  margin-left: 20px;
}

.modal button {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  border-radius: 4px;
  outline: none;
  border: solid 2px;
  background-color: transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal button:hover,
.modal button:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-save {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
}

.modal .modal-save:hover {
  opacity: 0.75;
}

.modal .modal-close {
  color: rgb(115, 205, 233);
  background-color: transparent;
  background-image: none;
  border-color: rgb(115, 205, 233);
}

.modal .modal-close:hover {
  color: #fff;
  background-color: rgb(115, 205, 233);
  border-color: rgb(115, 205, 233);
}

.modal .modal-delete {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.modal .modal-delete:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}